<template>
  <div class="container-lg">
    <div class="logo mt-2">
      <img src="../assets/images/logo.svg" alt="Логотип Премьер БКС" />
    </div>

    <div id="head-container" class="h1 mt-5">Header 1</div>

    <div id="filter-container" class="mt-5 row">
      <div v-for="fEl in filter" :key="fEl.name">
        <div v-if="fEl.type=='select'">
          <b-dropdown variant="outline-secondary" :text="getFilterElString(fEl)" class="filter-el">
            <b-dropdown-item
              class="dropdown-item"
              href="#"
              v-for="item in fEl.data"
              :key="item.name"
              @click="fEl.value=item"
            >{{item.name}}</b-dropdown-item>
          </b-dropdown>
        </div>
      </div>

      <b-button variant="outline-secondary" class="mx-1" @click="clearFilter()">Очистить фильтр</b-button>
    </div>

    <div id="products-container" class="mt-3">
      <div v-for="i in rowCount" :key="i" class="row mt-3">
        <div v-for="j in colCount" :key="j" class="col-sm">
          <productVisualisation :data="data[getProductIndex(i,j)]"></productVisualisation>
        </div>
      </div>
    </div>

    <div id="paginator-container" class="mt-5">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous" @click="prevPage()">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" v-for="i in pagesCount" :key="i">
            <a class="page-link" href="#" @click="selectedPage=i">{{i}}</a>
          </li>

          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next" @click="nextPage()">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import productVisualisation from "../components/productVisualisation";

export default {
  name: "productsView",
  props: {},
  components: {
    productVisualisation
  },
  data() {
    return {
      rowCount: 2,
      colCount: 3,
      selectedPage: 1,

      filteredData: [],

      filter: [
        {
          name: "Категории продуктов",
          value: "",
          data: [
            { name: "Безрисковые", value: 0 },
            { name: "Умеренный риск", value: 0.5 },
            { name: "Рисковые", value: 1 }
          ],
          field: "risk_ratio",
          type: "select"
        }
      ]
    };
  },
  mounted() {
    this.$store.dispatch("loadProducts");
  },
  computed: {
    data() {
      if (this.filteredData.length == 0) return this.products;

      return this.filteredData;
    },
    pagesCount() {
      if (!this.data) return 0;

      return Math.ceil(this.data.length / this.rowCount / this.colCount);
    },
    ...mapGetters({ products: "getProducts" })
  },
  methods: {
    prevPage() {
      if(this.selectedPage > 1) this.selectedPage--;
    },
    nextPage() {
      if(this.selectedPage < this.pagesCount) this.selectedPage++;
    },
    setfilteredData() {
      let arr = [];
      if (!this.products) return;

      for (let i in this.products) {
        let prod = this.products[i];

        for (let j in this.filter) {
          let fEl = this.filter[j];
          if (!fEl.value) continue;

          if (parseFloat(prod[fEl.field]) == fEl.value.value) {
            arr.push(prod);
          }
        }
      }

      this.filteredData = arr;
    },
    getProductIndex(row, col) {
      return ((row-1) * this.colCount + col - 1) + (this.selectedPage - 1)*this.colCount*this.rowCount;
    },
    getFilterElString(filterEl) {
      return !filterEl.value ? filterEl.name : filterEl.value.name;
    },
    clearFilter() {
      for (let i in this.filter) {
        let f = this.filter[i];

        f.value = "";
      }
    }
  },
  watch: {
    filter: {
      handler: function() {
        this.selectedPage = 1;
        this.setfilteredData();
      },
      deep: true
    }
  }
};
</script>

<style scoped lang="scss">
.filter-el {
  min-width: 250px;
}
</style>