<template>
  <div class="hello">
    <img src="../assets/images/logo.svg" alt="Логотип Премьер БКС">
    <p v-text="msg" class="text-center"></p>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<style scoped lang="scss">
  p {
    text-align: center;
    user-select: none;
  }
</style>
