<template>
  <div v-if="data!=undefined" class="container product-card p-4">
    <div class="h5 product-head"><b>{{data.name}}</b></div>

    <div v-if="data.risk_ratio==0" class="label">
        Нулевой риск
    </div>

    <div class="row">
      <img src="../assets/images/product-default.svg" alt="Логотип Премьер БКС" class="col product-logo-img" />
    </div>

    <div v-for="field in fieldsForDisplay" :key="field.name" class="row product-descr mt-3 underline">
      <div class="col">{{field.name}}</div>
      <div class="col">{{field.value()}}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "productVisualisation",
  props: {
    data: Object
  },
  data() {
    return {
      fieldsForDisplay: [
        {
          name: "Возможный доход",
          value: () => {
            let val = this.data.expected_income.first;
            return val == null ? "не ограничен" : val;
          }
        },
         {
          name: "Защита капитала",
          value: () => {
            return Math.abs(this.data.risk_ratio - 1) * 100 + "%";
          }
        },
        {
          name: "Минимальная сумма инвестиций",
          value: () => {
            let str = `${parseInt(this.data.min_sum)}`;
            return str.replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ') + String.fromCharCode(8381);
          }
        },
        {
          name: "Срок инвестиций",
          value: () => {
            let stDate = new Date(this.data.period.start_date);
            let endDate = new Date(this.data.contract.execution_date);
            let delta = new Date(endDate - stDate);
            let monthCount = delta.getMonth();
            return monthCount + ( monthCount<5 ? ' месяца': ' месяцев');
          }
        }
      ]
    };
  },
  mounted() {},
  methods: {},
  computed: {},
  watch: {}
};
</script>

<style scoped lang="scss">
$head-height: 80px;

.product-card {
    border: 1px solid rgb(204, 204, 204);
}
.product-head {
    min-height: $head-height;
}
.product-logo-img {
    height: 120px;
}
.product-descr {
    font-size: 0.9rem;
}
.underline {
    border-bottom: 1px solid rgb(204, 204, 204);
}
.label{
    position: absolute;
    width: fit-content;
    padding: 2px 10px;
    top: $head-height;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(234, 234, 234);
    z-index: 2;
    box-shadow: 0 0 7px #9c9c9c;
}
</style>